[run]
branch = True
source = scripts
concurrency = multiprocessing
parallel = True
sigterm = True

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
    raise NotImplementedError
fail_under = 84
show_missing = True

[html]
directory = .coverage_html
